
{% extends 'careerapp/base.html' %}

{% load staticfiles %}

{% block title %}
<title>Career Guidance System </title>
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
  <div class="col-sm-4"><img src="../static/c4.jpg" width="350" height="250"></div>
  <div class="col-sm-4"><p>This is web based application that has been developed by Chancellor college, Department of Computer Science inorder to help students who are in colleges to get useful systematic guidance on careers open to them in their respective fields of study.<br>
  It  also  lists  various colleges available where students can search colleges by their courses<br>
  The application can aslo be used by young peolpe who are at secondary school or primary school to  help them make informative decision on what courses they can probably persue based on their performance at MSCE. </p></div>
  <div class="col-sm-4"><img src="../static/c5.png" width="350" height="250"></div>

</body>
</html>

{% endblock %}