
{% extends 'careerapp/base.html' %}

{% load staticfiles %}

{% block title %}
<title>Career Guidance System </title>
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h2 style="text-align: center;">How can use This Application</h2>
  <div class="col-sm-4"><img src="../static/c4.jpg" width="350" height="250"></div>
  <div class="col-sm-4">
  <ol>
  	<li>Discover your program of study by using <u>Academic assessment </u>section, this is suitable for young people who have not yet gone to college</li> <br>
  	<li>View all the colleges in Malawi and corresponding programmes offerd, by clicking on <u>institutions</u></li>
  	<li>Discover your carrer path based on what you are studying at college, suitable for students who are at college; use <u>Careers </u> link</li> <br>
  	<li>Discover your careerpath based on your activities of interest, suitable for everyone
  	, by clicking on <u>Interest Assessment</u></li>
    <li>Find an item of your interest fast bu using <u>search</u> section</li>

  </ol>
   </div>
  <div class="col-sm-4"><img src="../static/c5.png" width="350" height="250"></div>

</body>
</html>

{% endblock %}